main {
    display: flex;
    position: relative;
    width: 1800px;
    height: 900px;
}
.seat-statistics {
    position: absolute;
    top: 150px;
    left: 80px;
    width: 200px;
    text-align: center;
}
.statistics-element {
    display: flex;
    gap: 10px;
}
.seat-container-background {
    position: absolute;
    top: 150px;
    left: 500px;
    text-align: center;
}
.seat-container {
    width: 700px;
    height: 500px;
    border: 1px solid #ccc;
}
.reservation-container {
     position: absolute;
     top: 150px;
     left: 1350px;
     text-align: center;
}

.seat {
    border: 1px solid #000;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    user-select: none;
}
.noAvailable {
    background-color: red;
}
.keeping {
    background-color: yellow;
}

.table {
    width: 700px;
    height: 500px;
}

/* 좌석 크기별 스타일 */
.seat.small {
    width: 25px;
    height: 25px;
    line-height: 15px;
    font-size: 15px;
}
.seat.medium {
    width: 45px;
    height: 45px;
    line-height: 35px;
    font-size: 25px;
}
.seat.large {
    width: 130px;
    height: 50px;
    line-height: 50px;
    font-size: 35px;
}

.button-box {
    position: absolute;
    top: 700px;
    left: 800px;

    display: flex;
    justify-content: between;
}

.quantity-selector {
    display: flex;
}
.quantity-selector input {
    text-align: center;
    width: 20%;
}

/* 호버 시 색상 변경 */
.nav-link.hovered {
    color: #79aef7;
    font-weight: bold;
}