.flex-background {
    display: flex;
}
nav {
    position: relative;
    width: 20vw;
    height: 100vh;
}
main {
    display: flex;
    position: relative;
    width: 80vw;
    height: 100vh;
}

.location_find {
    display: flex;
    align-items: center;

    position: absolute;
    top: 13%;
    left: 2%;
    padding: 10px;
}
#moveToCurrentLocation {
    width: 100px;
    padding: 10px;
}
#map {
    position: absolute;
    top: 27%;
    left: 3%;

    width: 48%;
    height: 50%;
}

.container {
    position: absolute;
    top: 3%;
    left: 40%;

    width: 65%;
    font-size: 1.0rem;
}

.field-error {
    border: 1px solid red;
}
.error-sign {
    color: red;
    font-size: 0.8rem;
}

/* 호버 시 색상 변경 */
.nav-link.hovered {
    color: #79aef7;
    font-weight: bold;
}