.flex-background {
    display: flex;
}
nav {
    position: relative;
    width: 20vw;
    height: 100vh;
}
main {
    position: relative;
    width: 80vw;
    height: 100vh;
}

.page-nav {
    position: absolute;
    top: 75%;
    left: 30%;
    height: 10%;
}

.table {
    position: absolute;
    top: 10%;
    left: 10%;

    width: 60%;
    height: 50%;
}

/* 호버 시 색상 변경 */
.nav-link.hovered {
    color: #79aef7;
    font-weight: bold;
}