html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 50%;
    margin-top: 10%;
}

.card-body {
}

#loginButton, #storeButton {
    position: absolute;
    top: 20%;
    left: 60%;
    z-index: 1000;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

#moveToCurrentLocation {
    position: absolute;
    top: 20%;
    left: 70%;
    z-index: 1000;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.info_inner {
    text-align: center;
}
.info_inner img {
    display: block;
    margin: 0 auto;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}