.flex-background {
    display: flex;
}
nav {
    position: relative;
    width: 20vw;
    height: 100vh;
}
main {
    position: relative;
    width: 80vw;
    height: 100vh;
}


.category-form {
    position: absolute;
    top: 15%;
    left: 13%;
}
.address_search {
    position: absolute;
    top: 23%;
    left: 13%;
}
#moveToCurrentLocation {
    position: absolute;
    top: 23%;
    left: 64%;
}
#map {
    position: absolute;
    top: 32%;
    left: 13%;

    width: 60%;
    height: 50%;
}

 /* 호버 시 변경 */
.nav-link.hovered {
    color: #79aef7;
    font-weight: bold;
}


.info_inner {
    text-align: center;
}
.info_inner img {
    display: block;
    margin: 0 auto;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}