<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!-- 부트 스트랩 css 적용 -->
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- css 적용 -->
    <link rel="stylesheet" type="text/css" href="../css/reservations/reservation_form_style.css" th:href="@{/css/reservations/reservation_form_style.css}">
</head>

<body>
<div class="flex-background">
    <nav class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <img src="/img/main/fire.png" style="width: 40px; height: 40px;" class="bi pe-none me-2"/>
            <span style="font-size: 1.5rem;">HotSpace</span>
        </a>

        <hr>

        <ul class="nav nav-pills flex-column mb-auto" style="font-size: 1.0rem;">
            <li class="nav-item">
                <a href="/" class="nav-link text-white" style="font-size: 1.1rem;">
                    <img src="/img/main/home_icon.png" class="bi pe-none me-2" style="width: 20%; height: 15%;"/>
                    Home
                </a>
            </li>

            <li class="nav-item">
                <a th:href="@{/stores/upload}" class="nav-link text-white">
                    <img src="/img/main/store_icon.png" class="bi pe-none me-2" style="width: 20%; height: 15%;"/>
                    가게 등록
                </a>
            </li>

            <li class="nav-item"
                th:if="${session.loginMember != null}">
                <a th:href="@{/stores/storeList}" class="nav-link text-white">
                    <img src="/img/main/store_setting_icon.png" class="bi pe-none me-2" style="width: 20%; height: 15%;"/>
                    가게 관리
                </a>
            </li>
        </ul>

        <hr>

        <div th:if="${session.loginMember != null}" class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img th:if="${session.loginMember.storedFileName == 'default_icon.PNG'}"
                     src="/img/main/user_icon.png"
                     width="32" height="32" class="rounded-circle me-2">

                <img th:if="${session.loginMember.storedFileName != 'default_icon.PNG'}"
                     th:src="@{|/profileImageUpload/${session.loginMember.storedFileName}|}"
                     width="32" height="32" class="rounded-circle me-2">

                <strong th:text="${session.loginMember.name}" style="font-size: 1.0rem;"></strong>
            </a>

            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" th:href="@{/members/{memberId}/delete(memberId=${session.loginMember.id})}">회원탈퇴</a></li>

                <li><hr class="dropdown-divider"></li>

                <li><a class="dropdown-item" th:href="@{/members/{memberId}/update(memberId=${session.loginMember.id})}">설정</a></li>

                <li><hr class="dropdown-divider"></li>

                <li>
                    <form th:action="@{/members/logout}" method="post" style="display:none;" id="logoutForm">
                        <input type="hidden"/>
                    </form>
                    <a class="dropdown-item" href="#" onclick="document.getElementById('logoutForm').submit();">로그아웃</a>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <!--테이블-->
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th class="col-md-2" style="text-align: center; margin: 0 auto;">예약 가게명</th>
                <th class="col-md-2" style="text-align: center; margin: 0 auto;">시설종류</th>
                <th class="col-md-2" style="text-align: center; margin: 0 auto;">예약일</th>
                <th class="col-md-2" style="text-align: center; margin: 0 auto;">참석인원</th>
                <th class="col-md-2" style="text-align: center; margin: 0 auto;">상태</th>
                <th class="col-md-2" style="text-align: center; margin: 0 auto;"></th>
            </tr>
            </thead>

            <tbody>
                <tr th:each="reservation : ${reservations}">
                    <td class="col-md-2" style="text-align: center; margin: 0 auto;"
                        th:text="${reservation.store.name}"></td>
                    </td>

                    <td class="col-md-2" style="text-align: center; margin: 0 auto;"
                        th:text="${reservation.store.category}"></td>
                    </td>

                    <td class="col-md-2"
                        style="text-align: center; margin: 0 auto;"
                        th:text="${#temporals.format(reservation.dateTime, 'MM/dd HH:mm')}"></td>

                    <td class="col-md-2" style="text-align: center; margin: 0 auto;"
                        th:text="${reservation.guestCount}"></td>
                    </td>

                    <td class="col-md-2" style="text-align: center; margin: 0 auto;"
                        th:if="${reservation.approvalState.title == '대기'}"
                        th:text="'승인대기'"></td>
                    <td class="col-md-2" style="text-align: center; margin: 0 auto;"
                        th:if="${reservation.approvalState.title == '승인'}"
                        th:text="'승인완료'"></td>
                    <td class="col-md-2" style="text-align: center; margin: 0 auto;"
                        th:if="${reservation.approvalState.title == '거절'}"
                        th:text="'승인거절'"></td>

                    <td class="col-md-2">
                        <a th:href="@{/reservations/{reservationId}/delete(reservationId=${reservation.id})}" class="flex-grow-1 mx-1">
                            <button type="button" class="btn btn-primary w-100">취소</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--페이지-->
        <nav class="page-nav">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!hasPrev} ? 'disabled'">
                    <a class="page-link" th:href="@{/reservations/list(page=${previous})}">이전</a>
                </li>

                <li class="page-item" th:each="page : ${#numbers.sequence(startPage, endPage)}">
                    <a class="page-link"
                       th:if="${page != nowPage} and ${page != 0}"
                       th:href="@{/reservations/list(page = ${page - 1})}"
                       th:text="${page}"></a>

                    <strong class="page-link"
                            th:if="${page == nowPage}"
                            th:text="${page}" style="color: red;"></strong>
                </li>


                <li class="page-item" th:classappend="${!hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{/reservations/list(page=${next})}">다음</a>
                </li>
            </ul>
        </nav>
    </main>
</div>

</body>


<!-- 부트스트랩 JS, Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
</script>

</html>